div.pr {
  background: url("/images/intro/sub_bg.jpg") left top no-repeat;
  background-size: 100% 154px;
  height: 100%;
  overflow: auto;
  padding: 0 40px 40px 40px;
}

div.pr div.content {
  margin-top: 40px;
}


div.pr span.leftBar { display: block; padding-left: 10px; border-left: 4px solid #d4d4d4; font-weight: bold; font-size: 15px; color: #5d5d5d; margin-bottom: 10px; }
div.pr img { padding: 25px; width: 100%;}

div.pr h1 { color: #464646; font-weight: bold; font-size: 20px; }
div.pr h3 { text-align: center; }
