<div class="intro ceo">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>CEO인사말</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>CEO인사말</li>
    </ul>
  </div>

  <div class="content">
    <p>안녕하십니까? <br/>
    <span>신기씨엔에스를 방문해주신 여러분께 감사 드립니다.</span></p>
    <img src="http://dummyimage.com/825x300/000/fff">
    <p>신기씨엔에스는 1986년 창립이래 지난 30여년간 고객의 신뢰와 품질, 기술력을 기반으로 전력과 통신 및 건설 분야에서 전문성과 경쟁력을 확보하여 <strong>국내 케이블 유통 산업의 리딩기업으로 도약하고 있습니다.</strong></p>
    <p>창래이래 다양한 사업 범위를 폭 넓은 산업에서 축적된 BUSINESS QUALIFICATION, OPERATING MODEL, TECHNOLOGY을 바탕으로 유통, 건설, XX 등 다양한 산업분야에서 최고의 역량을 발휘하고있습니다.</p>
    <p>2006년 ‘신기씨엔에스'로 사명을 변경하고, 신사업 확장, 신기술 개발, XXX개척에 역량을 집중하며 지속적인 성장을 도모하고 있습니다. <strong>'PARTNER-SIDE MANAGEMENT'</strong>라는 경영 방침아래 고객과 함께 성장하는 최고의 파트너로서 고객의 신뢰와 고객의 가치 극대화를 위해 최선의 노력을 하고 있으며, 기본과 원칙을 지키며 변화와 혁신을 거듭하는 기업이 되겠습니다.</p>
    <p>앞으로도 많은 관심과 사랑으로 성원해주시고 새롭게 발전해나가는 신기씨엔에스가 되겠습니다.</p>
    <p>감사합니다.</p>
    <div class="signature">
      <h3>신기씨엔에스(주) 대표이사</h3>
      <h2>김상도</h2>
    </div>
  </div>



</div>
