<div class="intro history">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>회사연혁</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사연혁</li>
    </ul>
  </div>

  <div class="content">
      <div class="topContent">
        <div class="leftContent">
          <p>신기씨엔에스는 고객의 신뢰와 품질, 기술력을 기반으로 전력과 통신 및 건설 분야에서 전문성과 경쟁력을 확보하여 국내 케이블 유통 산업의 리딩기업으로 도약하고 있습니다.</p>

        </div>
        <div class="rightContent">
          <img src="images/intro/history/Picture1.png">
        </div>
      </div>

      <div class="bottomContent">
        <div class="leftContent">
          <h3>2010 ~ 2000年代</h3>
          <ul>
            <li><span class="year">2015</span> 모범납세자 표창상수상</li>
            <li><span class="year">2015</span> 모범납세자 표창상수상</li>
            <li><span class="year">2012</span> 정보통신공사업 등록</li>
            <li><span class="year">2011</span> SHINGI C&S 사명 변경</li>
            <li><span class="year">2011</span> 코프코코리아㈜ 설립</li>
            <li><span class="year">2011</span> 해외공사업 등록</li>
            <li><span class="year">2009</span> 전문소방시설공사업등록</li>
            <li><span class="year">2006</span> 한국전기공사협회 등록</li>
            <li><span class="year">2006</span> 전기공사업등록</li>
          </ul>



        </div>
        <div class="rightContent">
          <h3>1980 ~ 1990年代</h3>
          <ul>
            <li><span class="year">2004</span> 광주 물류센터 구축</li>
            <li><span class="year">1994</span> 일산 물류센터 구축</li>
            <li><span class="year">1987</span> 국일전상㈜ 설립</li>
          </ul>
        </div>
      </div>





  </div>



</div>
