<div class="intro org">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>조직도</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>조직도</li>
    </ul>
  </div>

  <div class="content">
    <p>신기씨엔에스는 시장의 빠른 변화와 고객의 요구에 상응하기 위해 유기적인 조직을 운용하고 있으며 구성원의 개인역량과 구성원간의 협력을 통해 경영효율성을 극대화 하고 있습니다. </p>
    <img src="images/intro/org/Picture1.png">
  </div>
</div>
