<div class="intro vision">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>회사비전</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사비전</li>
    </ul>
  </div>

  <div class="content">

    <div class="top">
      <div class="leftContent">
        <p>초연결사회로 변화하고 있는 산업 및 기업환경에서 사회 발전과 가치 창출 및 미래의 삶의 질을 향상을 위해 앞서 발전하고 혁신한다.</p>
        <h3>핵심목표</h3>
        <p>신기씨엔에스는 최고 수준의 기술력 및 원가 경쟁력을 기반으로 지속적인 서비스를 제공하고 있으며, 국내 전력, 건설, 무역, 부동산 분야에서 선두주자 역할을 목표로 발전해 나가고 있습니다.</p>
      </div>
      <div class="rightContent">
        <img src="images/intro/vision/Picture1.png">
      </div>
    </div>

    <h3>핵심가치</h3>
    <div class="mid">
      <div class="topContent">
        <div class="leftContent">
          <h4>인재존중</h4>
          <h5>PEOPLE</h5>
          <span>기업가치 창출의 원동력은 인력자원에서 형성된다.</span>
          <p>신기씨엔에스는 창업 초기부터 구성원의 단합과 의지를 기업의 핵심 가치 및 원동력으로 설정하여 사업을 키워왔습니다. 향후에도 기업의 발전과 성장을 위해 지속적으로 교육 및 혜택 등 다양한 투자를 진행할 것입니다.</p>
        </div>
        <div class="rightContent">
          <h4>도전정신</h4>
          <h5>CHALLENGE</h5>
          <span>도전적인 자세와 미래지향적인 사고는 기업의 새로운 방향을 제시한다.</span>
          <p>지난 30년간 케이블 유통 산업에서 지속적으로 성장할 수 있었던 것은 적극적인 도전자세와 다양한 방법론/ 해결책을 구사하였기 때문입니다. 현재에 만족하지 않고 보다 더 높은 목표에 도달하기 위해 끈임 없이 노력하고 도전하겠습니다.</p>
        </div>
      </div>
      <div class="bottomContent">
        <div class="leftContent">
          <h4>전문역량</h4>
          <h5>PROFESSIONALISM</h5>
          <span>도전적인 자세와 미래지향적인 사고는 기업의 새로운 방향을 제시한다.</span>
          <p>신기씨엔에스는 창업 초기부터 'Partner-side Management'라는 경영방침을 수립하여 수년간 이행해왔습니다. 산업의 변화 및 기업 경쟁 심화에서도 이를 기반으로 운영하여, 고객의 신뢰, 제품의 품질, 운영 효율성 등 다양한 측면에서 비즈니스 차별화 및 다각화를 구현할 수 있었습니다. 향후 다양한 사업영역과 고객관리 측면에서도 신기의 역량을 끈임 없이 지향하여 INTEGRATED SOLUTION PROVIDER가 되겠습니다.</p>
        </div>
        <div class="rightContent">
          <h4>혁신변화</h4>
          <h5>INNOVATION</h5>
          <span>도전적인 자세와 미래지향적인 사고는 기업의 새로운 방향을 제시한다.</span>
          <p>급변화는 미래의 산업환경에 적응하고 선점하기 위해 경영 초기부터 기업 내외 환경과 방식에 대한 지속적인 개선과 혁신을 실행하였습니다. 기존 노력과 혁신을 기반으로 보다 더 높은 목표를 달성할 수 있도록 꾸준한 노력을 할 것입니다.</p>
        </div>
      </div>
    </div>

  </div>
</div>
