<div class="cr notice">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>공지사항</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>공지사항</li>
    </ul>
  </div>

  <table class="table notice">
    <tr>
      <td>번호</td>
      <td>제목</td>
      <td>작성일</td>
      <td>조회수</td>
    </tr>
    <tr>
      <td>6</td>
      <td>필리핀 부수양가 공항준공</td>
      <td>2015-12-03</td>
      <td>455</td>
    </td>
    <tr>
      <td>5</td>
      <td>필리핀 부수양가 공항준공</td>
      <td>2015-12-03</td>
      <td>455</td>
    </td>
    <tr>
      <td>4</td>
      <td>필리핀 부수양가 공항준공</td>
      <td>2015-12-03</td>
      <td>455</td>
    </td>

  </table>

  <div class="blankBlock"></div>


</div>
