div.product {
    /*background-image: url("/images/business/sub_bg2.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: local;
    background-size: 75% 154px;*/
    height: 100%;
    padding: 0 350px 40px 40px;
    overflow: auto;
}
div.product div.subMenus {
    overflow: auto;
    margin-top: 25px;
}
div.product div.subMenus ul {
    list-style-type: none;
    padding: 0;
}
div.product div.subMenus ul li {
    float: left;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #464646;
    background-color: #e4e6ea;
    margin-right: 5px;
}
div.product div.subMenus ul li:hover {
    color: #fff;
    background-color: #52647b;
}
div.product div.subMenus ul li.active {
    color: #fff;
    background-color: #52647b;
}
div.product div.content {
    overflow: auto;
}
div.product div.content div.header {
    margin-top: 40px;
}
div.product div.content div.header div.col-xs-4 div {
    overflow: auto;
}
div.product div.content div.header div.col-xs-4 div h4 {
    color: #464646;
    font-weight: bold;
    display: inline-block;
    float: left;
}
div.product div.content div.header div.col-xs-4 img {
    width: 30%;
    float: left;
    margin-left: 10%;
}
div.product div.content div.header div.col-xs-4.single img {
  width: 70%;
  margin: 0;

}
div.product div.content div.header div.col-xs-12 img {
    width: 35px;
    height: 35px;
    float: right;
}
div.product div.content div.prodList {
    margin-top: 20px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #ddd;*/
    cursor: pointer;
}
/*div.product div.content div.prodList.construct {
    cursor: auto;
}*/
div.product div.content div.prodList div.col-xs-2 img {
    width: 100%;
}
div.product div.content div.prodList div.col-xs-10 div.prodTitle {
  margin: 10px 0 10px 0;
  background-color: #419fde;
  color: white;
}
div.product div.content div.prodList div.col-xs-10 p.prodCategory {
  color: #419fde;
  font-weight: bold;
  margin: 20px 0 0 0;
}
div.product div.content div.prodList strong {
    font-size: 18px;
}
div.product div.content div.prodList strong.noHeaders {
    font-size: 14px;
}
div.product div.content div.subSubMenu {
    margin-top: 40px;
    cursor: auto;
    border: 0;
}
div.product div.content div.subSubMenu div.col-xs-2 img {
    width: 100%;
}
div.product div.content div.subSubMenu div.col-xs-12 {
    margin-top: 20px;
}
div.product div.content div.subSubMenu strong {
    font-size: 14px;
}

div.desc table thead tr th {
    text-align: center;
    vertical-align: middle;
    background-color: #efefef;
}
div.desc h1 {
  font-size: 16px;
  color: rgb(87, 87, 87);
}
div.desc table tbody tr td {
    text-align: center;
    vertical-align: middle;
}
