div.product {
    /*background-image: url("/images/business/sub_bg2.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: local;
    background-size: 75% 154px;*/
    height: 100%;
    padding: 0 450px 40px 40px;
    /*overflow: auto;*/
}
div.product div.subMenus {
    overflow: auto;
    margin-top: 25px;
}
div.product div.subMenus ul {
    list-style-type: none;
    padding: 0;
    height: 43px;
    border-bottom: 3px solid rgb(129, 188, 0);
}
div.product div.subMenus ul li {
    float: left;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: rgb(49, 49, 49);
}
div.product div.subMenus ul li:hover {
    background-color: rgb(129, 188, 0);
}
div.product div.subMenus ul li.active {
    background-color: rgb(129, 188, 0);
}
div.product div.content div.header {
    margin-top: 40px;
}
.flagImg {
    position: absolute;
    z-index: 999;
    top: 220px;
    left: 580px;
    width: 3%;
}
.flagBgColor1 {
    background-color: #ebffbe;
}
.flagBgColor2 {
    background-color: #f0ff89;
}
.flagBgColor3 {
    background-color: #f1faff;
}
.flagBgColor4 {
    background-color: #ededed;
}
.prodBgColor {
    background-color: #f3f3f3;
}
.prodHight {
    height: 226px;
}
div.product div.content div.header div.col-xs-4 div {
    overflow: auto;
}
div.product div.content div.header div.col-xs-4 div h4 {
    color: #464646;
    font-weight: bold;
    display: inline-block;
    float: left;
}
div.product div.content div.header div.col-xs-4 img {
    width: 30%;
    float: left;
    margin-left: 10%;
}
div.product div.content div.header div.col-xs-4.single img {
  width: 70%;
  margin: 0;

}
div.product div.content div.header div.col-xs-12 img {
    width: 35px;
    height: 35px;
    float: right;
}
div.product div.content div.prodList {
    margin-top: 20px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #ddd;*/
    cursor: pointer;
}
/*div.product div.content div.prodList.construct {
    cursor: auto;
}*/
div.product div.content div.prodList div.col-xs-2 img {
    width: 100%;
}
div.product div.content div.prodList div.col-xs-10 div.prodTitle {
  margin: 10px 0 10px 0;
  background-color: #419fde;
  color: white;
}
div.product div.content div.prodList div.col-xs-10 p.prodCategory {
  color: #419fde;
  font-weight: bold;
  margin: 20px 0 0 0;
}
div.product div.content div.prodList strong {
    font-size: 18px;
}
div.product div.content div.prodList strong.noHeaders {
    font-size: 14px;
}
div.product div.content div.subSubMenu {
    margin-top: 40px;
    cursor: auto;
    border: 0;
}
div.product div.content div.subSubMenu div.col-xs-2 img {
    width: 100%;
}
div.product div.content div.subSubMenu strong {
    font-size: 14px;
}

div.desc table thead tr th {
    text-align: center;
    vertical-align: middle;
    background-color: rgb(242, 242, 242);
}
div.desc h1 {
  font-size: 16px;
  color: rgb(87, 87, 87);
}
div.desc table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.evenImage {
  position: absolute;
  left: 40px;
}

.oddImage {
  position: absolute;
  left: 550px;
}
