<div class="business cable">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>건설사업부</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>무역사업부</li>
    </ul>
  </div>

  <div class="subMenus">
    <ul>
      <li ng-class="{active: subMebu.active}" ng-repeat="subMebu in bConstruct.routeConfig" ng-click="bConstruct.toSubMenu($index)">{{subMebu.name}}</li>
    </ul>
  </div>

  <div ng-include="bConstruct.currentPageUrl"></div>


</div>
