div.pr {
    /*background-image: url("/images/intro/sub_bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: local;
    background-size: 75% 154px;*/
    height: 100%;
    padding: 0 450px 40px 40px;
    /*overflow: auto;*/
}
div.pr div.content {
    margin-top: 40px;
}
div.pr span.certTitle {
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #5d5d5d;
}

div.pr div.content h1 {
    color: #464646;
    font-weight: bold;
    font-size: 20px;
}
div.pr div.content h3 {
    text-align: center;
}
