<div class="pr cert">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>보유자격증</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>보유자격증</li>
    </ul>
  </div>

  <div class="content marginBottom20">

    <div class="row">
      <div class="col-xs-8">
        <h2>전기, 소방, 통신 등 다양한 사업을 통하여 <span class="colorBlue">하나가 되는 시대</span>를 만들어 나아갈 것입니다.</h2>
        <p>전기, 소방, 통신 등 다양한 전문가를 보유하고 유지하여 최고의 기술역량을 확보 수립하고 고객만족을 시현하는 신기씨앤에스가 되겠습니다.</p>
      </div>
      <div class="col-xs-4">
        <img class="width100" src="images/pr/cert/Picture4.png">
      </div>
    </div>

    <div class="row marginTop50">
      <div class="col-xs-4">
        <span class="leftBar">전기공사등록증</span>
        <img class="width100" src="images/pr/cert/Picture1.png">
      </div>

      <div class="col-xs-4">
        <span class="leftBar">소방시설업등록증</span>
        <img class="width100" src="images/pr/cert/Picture2.png">
      </div>

      <div class="col-xs-4">
        <span class="leftBar">정보통신공사업등록증</span>
        <img class="width100" src="images/pr/cert/Picture3.png">
      </div>

    </div>

  </div>



</div>
