<div class="pr iso">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>IOS자격증</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>IOS자격증</li>
    </ul>
  </div>

  <div class="content marginBottom20">

    <div class="row">
      <div class="col-xs-8">
        <h2 class="fontBod textAlignRight">투자자품질, 환경, 안전관리와 <br>시스템에 있어 <span class="colorBlue">ISO표준에 품질 및 <br>환경 안전이 만족할 수 있도록</span> 최선을 <br>다하고 있습니다.</h2>
        <p class="textAlignRight">각 현장의 모든 공정을 ISO9001, ISO14001, <br>OHSAS18001 시스템에 맞게 진행 관리하고 있습니다.</p>
      </div>
      <div class="col-xs-4">
        <img class="width100" src="images/pr/ios/Picture3.png">
      </div>
    </div>

    <div class="row marginTop50">
      <div class="col-xs-4">
        <img class="width100" src="images/pr/ios/Picture1.png">
        <span class="certTitle">품질경영시스템인증서</span>
        <span>KTR 인증센터</span>
      </div>

      <div class="col-xs-4">
        <img class="width100" src="images/pr/ios/Picture2.png">
        <span class="certTitle">환경경영시스템인증서</span>
        <span>KTR 인증센터</span>
      </div>

    </div>

  </div>



</div>
