<div class="pr mgmt">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>윤리경영</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>기업홍보</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>윤리경영</li>
    </ul>
  </div>

  <div class="content marginBottom20">
    <div class="row verticalCenter">
      <div class="col-xs-2">
        <h2 class="margin0 fontSize30 fontBod lineHeight30">기 업</h2>
        <h2 class="colorGreen margin0 fontSize30 fontBod lineHeight30">윤 리</h2>
      </div>
      <div class="col-xs-10">
        <h4 class="textAlignLeft fontWeight200 fontSize15">기업의 의사결정이나 행위에 영향을 받는 이해관계자들을 <br>위하여 기업이 어떤 의사결정과 행위를 취할 것인가를 판단하는 <br>기준이며 기업의 정책, 조직, 행동에 적용되는 꼭 지켜야 할 <br>도덕적 기준을 말합니다.</h4>
      </div>
    </div>

    <div class="row verticalCenter">
      <div class="col-xs-10">
        <h4 class="textAlignRight fontWeight200 fontSize15">윤리경영은 법적 책임이 없는 경우에도 사회통념에 어긋나면 <br>사회가 요구하는 윤리기준을 선택하는 경영방식으로서 <br>회사경영 및 기업활동의 가치기준을 윤리규범에 두고 투명하고 <br>공정하며 합리적으로 업무를 수행하는 것을 말합니다.</h4>
      </div>
      <div class="col-xs-2">
        <h2 class="colorGreen margin0 fontSize30 fontBod lineHeight30">윤 리</h2>
        <h2 class="margin0 fontSize30 fontBod lineHeight30">경 영</h2>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <hr>
      </div>
    </div>

    <div class="row marginTop25">
      <div class="col-md-12">
        <h2 class="margin0 fontSize30 fontBod lineHeight30">'윤 리 경 영'</h2>
        <h2 class="colorGreen margin0 fontSize25 fontBod lineHeight30">Ethic Management</h2>
      </div>
      <!-- <div class="col-xs-offset-3 col-xs-6">
        <img class="width100" src="images/pr/mgmt/Picture2.png">
      </div> -->
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="fontSize13">신기씨앤에스가 지속적으로 성장하기 위하여 법규적 책임의 준수는 <br>물론이고, 더 나아가 사회가 요구하는 윤리적 기대를 신기의 의사결정 및 <br>행동에 반영함으로써 경쟁우위를 창출하는 경영전략을 말합니다.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <img class="width100" src="images/pr/mgmt/Picture1.png">
      </div>
    </div>
  </div>

</div>
