<!DOCTYPE html>
<html lang="en" ng-app="h3Framework" ng-controller="mainCtrl" ng-cloak>

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title ng-bind="titleText"></title>

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="libraries/bootstrap/css/bootstrap.min.css">

  <!-- Font-awesome -->
  <link type="text/css" rel="stylesheet" href="libraries/font-awesome/css/font-awesome.min.css">

  <!-- Slick -->
  <link type="text/css" rel="stylesheet" href="libraries/slick/slick.css"/>

  <!-- Main -->
  <link type="text/css" rel="stylesheet" href="stylesheets/main.css">

  <!-- Common -->
  <link type="text/css" rel="stylesheet" href="stylesheets/common/common.css">

  <!-- NavBar & SideBar -->
  <link type="text/css" rel="stylesheet" href="stylesheets/common/navBar.css">
  <link type="text/css" rel="stylesheet" href="stylesheets/common/sideBar.css">

  <!-- Index -->
  <link type="text/css" rel="stylesheet" href="stylesheets/index/index.css">

  <!-- Intro -->
  <link type="text/css" rel="stylesheet" href="stylesheets/intro/intro.css">
  <!-- Business -->
  <link type="text/css" rel="stylesheet" href="stylesheets/business/business.css">
  <!-- Product -->
  <link type="text/css" rel="stylesheet" href="stylesheets/product/product.css">
  <!-- PR -->
  <link type="text/css" rel="stylesheet" href="stylesheets/pr/pr.css">
  <!-- CR -->
  <link type="text/css" rel="stylesheet" href="stylesheets/cr/cr.css">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

	<nav-bar></nav-bar>
	<div ng-view class="main-content"></div>
  <side-bar></side-bar>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="libraries/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="libraries/jquery-ui/jquery-ui.min.js"></script>

  <!-- Slick -->
  <script type="text/javascript" src="libraries/slick/slick.min.js"></script>

  <!-- Bootstrap -->
  <script type="text/javascript" src="libraries/bootstrap/js/bootstrap.min.js"></script>

  <!-- Angular -->
  <script type="text/javascript" src="libraries/angular/angular.min.js"></script>
  <script type="text/javascript" src="libraries/angular/angular-animate.min.js"></script>
  <script type="text/javascript" src="libraries/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="libraries/angular/angular-sanitize.min.js"></script>

  <!-- Aitch3 Framework -->
  <script type="text/javascript" src="build/js/aitch3.min.js"></script>



</body>

</html>
