
<div class="container-fluid" style="margin-top: 20px;">
	<div clsss="row">
		<div class="col-md-3">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Visits</h3>
				</div>
				<div class="panel-body">
					<div>today: {{dashboard.visitors.today | number}}</div>
					<div>total: {{dashboard.visitors.total | number}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Users</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Pages</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Admins</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
		</div>

	</div>
</div>
