<div class="cr contact">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>연락처</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>연락처</li>
    </ul>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>부서</th>
      <th>담당자</th>
      <th>전화번호</th>
      <th>팩스번호</th>
      <th>이메일</th>
    </tr>
    <tr>
      <td>케이블사업부</td>
      <td>문희순</td>
      <td rowspan="5">02.539.41444</td>
      <td rowspan="5">02.539.4145</td>
      <td>xxx@sgcns.com</td>
    </tr>
    <tr>
      <td>무역사업부</td>
      <td>위윤태</td>
      <td>ytwee@sgcns.com</td>
    </tr>
    <tr>
      <td>건설사업부</td>
      <td>양</td>
      <td>xxx@sgcns.com</td>
    </tr>
    <tr>
      <td>부동산사업부</td>
      <td>김헨리</td>
      <td>xxx@sgcns.com</td>
    </tr>
    <tr>
      <td>인사 및 총무</td>
      <td>박미선</td>
      <td>xxx@sgcns.com</td>
    </tr>

  </table>

  <div class="blankBlock"></div>


</div>
