<div class="intro history">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>회사연혁</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사연혁</li>
    </ul>
  </div>

  <div class="content">
    <div class="row verticalCenter">
      <div class="col-xs-8">
        <h2 class="marginTop10 fontBod textAlignLeft">신기씨앤에스는 1986년 <span class="colorBlue">국내 산업 <br>성장 도모를 목적을 가지고 <br>설립되어,</span> 국내 건설 및 IT산업 발전에 <br>중추적인 역할을 담당해 왔습니다.</h2>
        <p class="marginTop10 textAlignLeft lineHeight17 fontSize13">고객의 신뢰와 품질, 기술력을 기반으로 전력과 통신 및 <br>건설 분야에서 전문성과 경쟁력을 확보하여 국내 케이블 <br>유통 산업의 리딩기업으로 도약하고 있습니다.</p>
      </div>
      <div class="col-xs-4">
        <img class="width100" src="images/intro/history/Picture3.png">
      </div>
    </div>

    <!-- <div class="row marginTop50 bgPattern"> -->
    <div class="row marginTop50">
      <div class="col-xs-12 textAlignCenter">
        <img class="width100" src="images/intro/history/Picture2.png">
      </div>
    </div>


  </div>
</div>
