<div class="intro info">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>회사개요</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사개요</li>
    </ul>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-xs-8">
        <p class="textAlignRight">초연결사회로 변화되는 현재 <br>시점에서 <span class="colorBlue">신기가 한발 앞서</span> <br>혁신하고 도전하겠습니다. </p>
        <p class="textAlignRight">신기씨엔에스는 1986년 창립이래 지난 30여년간 고객의<br> 신뢰와 품질, 기술력을 기반으로 전력과 통신 및 건설<br> 분야에서 전문성과 경쟁력을 확보하여 국내 케이블 유통<br> 산업의 리딩기업 및 종합 컨설팅으로 도약하고 있습니다.</p>
      </div>
      <div class="col-xs-4">
        <img class="noLines" src="images/intro/info/Picture1.png">
      </div>
    </div>
    <img src="images/intro/info/info.png">
    <p class="fontSize15">짧은 기간 동안 다양한 사업 범위를 폭 넓은 시각으로 경험하고 확장하여 도출한, INDUSTRIAL INSIGHTS, PROFEESIONAL RESOURCE, VALUE DELIVERY 등을 기반으로 고객의 신뢰를 얻어, 현재 지속적인 성장과 혁신하고 있습니다.</p>
  </div>
</div>
