<div class="intro org">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>조직도</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>조직도</li>
    </ul>
  </div>

  <div class="content">
    <div class="row verticalCenter">
      <div class="col-xs-8">
        <h2 class="">다양한 비즈니스에 최적화된 업무 구조를 보유하여 <span class="colorBlue">경영 및 조직 운영 효율성</span>을 극대화 하고 있습니다.</h2>
        <p>시장의 빠른 변화와 고객의 요구에 상응하기 위해 유기적인 조직을 운용하고 있으며 구성원의 개인역량과 구성원간의 협력을 통해 운영 효율성을 극대화 하고 있습니다.</p>
      </div>
      <div class="col-xs-4">
        <img class="width100" src="images/intro/org/Picture1.png">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-7 col-xs-5">
        <img class="width100" src="images/intro/org/Picture2.png">
      </div>
    </div>

    <div class="row marginTop50 bgPattern">
      <div class="col-xs-12 textAlignCenter">
        <img class="width80" src="images/intro/org/Picture3.png">
      </div>
    </div>

  </div>
</div>
