<div class="intro vision">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>회사비전</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사비전</li>
    </ul>
  </div>

  <div class="content">
    <div class="row verticalCenter">
      <div class="col-xs-4">
        <img class="width100" src="images/intro/vision/Picture2.png">
      </div>
      <div class="col-xs-8">
        <h2 class="marginTop10"><span class="colorGreen">신뢰와 혁신을 기반으로</span> 가치를<br>창출해나가는 기업 신기</h2>
        <p>신기씨엔에스는 최고 수준의 기술력 및 원가 경쟁력을 기반으로 지속적인 서비스를<br> 확장하고 있으며, 국내 유통, 건설, 무역, 부동산 분야에서 선두주자 역할을 목표로 발전해<br> 나가고 있습니다.</p>
        <h2 class="marginTop10">최고의 <span class="colorBlue">비즈니스 파트너와</span> <br>함께성장합니다!</h2>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-2">
        <h4 class="fontBod">핵심목표</h4>
      </div>
      <div class="col-xs-10">
        <h4>급변화는 기업환경과 산업발전 속에서 <span class="colorBlue">사회 발전과 가치 창출 및 미래의 삶의 질을 향상</span>을 위해 앞서 발전하고 혁신한다.</h4>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <h4 class="fontBod">핵심가치</h4>
      </div>
      <div class="col-xs-10">
        <img class="width100" src="images/intro/vision/Picture3.png">
      </div>
    </div>

  </div>
</div>
