nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 100%;
    background-color: #fff;
}
div.main-content {
    position: relative;
    height: 100%;
    min-width: 1100px;
    max-width: 1100px;
    background-color: #fff;

}
side-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 190px;
    height: 100%;
    background-color: #fff;
}
@media (max-width: 1190px) {
    side-bar {
        display: none;
    }
}
