<div ng-if="!admin.userStatus.loggedIn" class="container-fluid">


	<div class="row">
		<div class="col-md-6 col-md-offset-3">


			<div class="panel panel-warning">
				<div class="panel-heading">login as Administrator</div>
				<div class="panel-body">
					If you are logged in and get this page, this means you don't have the admin authority.
					<p>Request your admin to gain right authority.<p>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Admin Login</h3>
				</div>
				<div class="panel-body">
					<form ng-submit="admin.doLogin()">
					    <div class="form-group">
					        <label for="loginID">Email address</label>
					        <input type="email" class="form-control" id="loginID" placeholder="Email" ng-model="admin.userInput.userID">
					    </div>
					    <div class="form-group">
					        <label for="password">Password</label>
					        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="admin.userInput.password">
					    </div>
					    <button type="submit" class="btn btn-success">Login</button>
					</form>
				</div>
			</div>

		</div>
	</div>

</div>



<div ng-if="admin.userStatus.loggedIn" class="container-fluid">
	<div class="jumbotron">
		<h1>Admin Page</h1>
		<p>Configure your web application</p>
		<p>You can modify Header(navbar), Footer, and main contents</p>
		<p>click the buttons below to make some changes</p>


		<p><a class="btn btn-primary btn-lg" href="admin/title" role="button">Site structure</a></p>
		<p><a class="btn btn-primary btn-lg" href="admin/header" role="button">Header</a></p>

		<a class="btn btn-primary btn-lg" href="admin/title" role="button">Configuration</a>
		<a class="btn btn-primary btn-lg" href="admin/title" role="button">Design</a>
	</div>
</div>




<div ng-if="admin.modalOn" class="modal-backdrop fade in" ></div>
<div class="modal fade" id="modal-warning" tabindex="-1" role="dialog" ng-click="admin.closeModal()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">로그인 에러</h4>
            </div>
            <div class="modal-body">
            	<ul>
            		<li ng-repeat="err in admin.errMsgs">{{err}}</li>
            	</ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
