<div class="pr cert">
  <!-- Common Style Template -->
  <div class="pageTitle">
    <h1>보유자격증</h1>
    <div class="decoLine"></div>
  </div>

  <div class="breadCrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li>HOME</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>회사소개</li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>보유자격증</li>
    </ul>
  </div>

  <div class="content">

    <div class="col-xs-6">
      <span class="leftBar">전기공사등록증</span>
      <img src="images/pr/cert/Picture1.png">
    </div>

    <div class="col-xs-6">
      <span class="leftBar">소방시설업등록증</span>
      <img src="images/pr/cert/Picture2.png">
    </div>

    <div class="col-xs-6">
      <span class="leftBar">정보통신공사업등록증</span>
      <img src="images/pr/cert/Picture3.png">
    </div>

  </div>



</div>
