div.sideBar {
  height: 100%;
}

div.sideBar div.side1 {
  height: 50%;
  background-color: red;
  cursor: pointer;
}

div.sideBar div.side2 {
  height: 25%;
  background-color: blue;
  cursor: pointer;
}

div.sideBar div.side3 {
  height: 25%;
  background-color: yellow;
  cursor: pointer;
}
