@font-face {
    font-family: 'audiowideregular';
    src: url('../../libraries/font/audiowide/audiowide-regular-webfont.woff2') format('woff2'),
         url('../../libraries/font/audiowide/audiowide-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../../libraries/font/nanumgothic/NanumGothic.woff') format('woff');
}

@font-face {
    font-family: 'bm_dohyeonregular';
    src: url('../../libraries/font/bmdohyeon/bmdohyeon_ttf-webfont.woff2') format('woff2'),
         url('../../libraries/font/bmdohyeon/bmdohyeon_ttf-webfont.woff') format('woff');
}

.audioWide {
    font-family: 'audiowideregular', sans-serif;
}

.gothic {
    font-family: 'Malgun Gothic', sans-serif;
}

.bmdohyeon {
    font-family: 'bm_dohyeonregular', sans-serif;
}




html {
    height: 100%;
}
body {
    font-size: 12px;
    line-height: 1.5;
    color: rgb(87, 87, 87);
    width: 100%;
    height: 100%;
    font-family: 'Malgun Gothic', sans-serif;
}

a,
a:link,
a:active,
a:visited {
    color: #7d7d7d;
    border: 0px;
}
a:hover {
    color: #000;
}

.padding0 {
  padding: 0;
}

.padding10 {
  padding: 10px;
}

.border0 {
  border: 0;
}

div.pageTitle {
    padding-top: 25px;
    /*padding-top: 100px;*/
    /*margin-bottom: 45px;*/
    padding-bottom: 26px;
    border-bottom: 1px solid #d3d3d3;
}
div.pageTitle h1 {
    color: #464646;
    font-weight: bold;
    font-size: 30px;
}
div.pageTitle div.decoLine {
    width: 50px;
    height: 3px;
    background-color: #464646;
}
div.breadCrumb {
    height: 28px;
    position: relative;
    right: 0;
    top: -60px;
}
div.breadCrumb ul {
    list-style-type: none;
    float: right;
}
div.breadCrumb ul li {
    float: left;
    margin-right: 5px;
}
div.breadCrumb ul li:first-child {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    background-color: #ababab;
    border-radius: 50%;
}
div.breadCrumb ul li:last-child {
    color: #249adf;
}
div.blankBlock {
    width: 100%;
    height: 280px;
    clear: both;
}
div.blankBlock100 {
    width: 100%;
    height: 100px;
    clear: both;
}
div.clearFloat {
    clear: both;
}

p {
    color: rgb(87, 87, 87);
}

h2 {
    font-size: 26px;
}

.noULstyle {
    list-style-type: none;
}

.verticalCenter {
    display: flex;
    align-items: center;
}

.white {
    color: #fff;
}

.noLines {
    border: 0;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}

.colorBlue {
    color: rgb(0, 112, 192);
}

.colorGreen {
    color: rgb(129, 188, 0);
}

.fontSize15 {
    font-size: 15px;
}

.fontSize10 {
    font-size: 10px;
}

.fontBod {
    font-weight: bold;
}

.width100 {
    width: 100%;
}

.width80 {
    width: 80%;
}

.width60 {
    width: 60%;
}

.width40 {
    width: 40%;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop50 {
    margin-top: 50px;
}

.margin0 {
    margin: 0;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginRight10 {
    margin-right: 10px;
}

.marginLeftRight15 {
    margin-left: 15px;
    margin-right: 15px;
}

.bgPattern {
    background-image: url('../../images/bg/bgPattern.png');
}
