@font-face {
    font-family: 'audiowideregular';
    src: url('../../libraries/font/audiowide/audiowide-regular-webfont.woff2') format('woff2'),
         url('../../libraries/font/audiowide/audiowide-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../../libraries/font/nanumgothic/NanumGothic.woff') format('woff');
}

@font-face {
    font-family: 'bm_dohyeonregular';
    src: url('../../libraries/font/bmdohyeon/bmdohyeon_ttf-webfont.woff2') format('woff2'),
         url('../../libraries/font/bmdohyeon/bmdohyeon_ttf-webfont.woff') format('woff');
}

.audioWide {
    font-family: 'audiowideregular', sans-serif;
}

.gothic {
    font-family: 'Malgun Gothic', sans-serif;
}

.bmdohyeon {
    font-family: 'bm_dohyeonregular', sans-serif;
}




html {
    height: 100%;
}
body {
    font-size: 15px;
    line-height: 1.5;
    color: rgb(87, 87, 87);
    width: 100%;
    height: 100%;
    font-family: 'Malgun Gothic', sans-serif;
}

a,
a:link,
a:active,
a:visited {
    color: rgb(87, 87, 87);
    border: 0px;
    text-decoration: none;
}
a:hover {
    color: #000;
}

div.pageTitle {
    padding-top: 30px;
    /*padding-top: 100px;*/
    /*margin-bottom: 45px;*/
    padding-bottom: 35px;
    border-bottom: 1px solid #d3d3d3;
}
div.pageTitle h1 {
    color: #464646;
    font-weight: bold;
    font-size: 18px;
}
div.pageTitle div.decoLine {
    width: 50px;
    height: 3px;
    background-color: #464646;
}
div.breadCrumb {
    height: 28px;
    position: relative;
    right: 0;
    top: -68px;
    font-size: 13px;
}
div.breadCrumb ul {
    list-style-type: none;
    float: right;
}
div.breadCrumb ul li {
    float: left;
    margin-right: 5px;
}
div.breadCrumb ul li:first-child {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    background-color: #ababab;
    border-radius: 50%;
}
div.breadCrumb ul li:last-child {
    color: #249adf;
}
div.blankBlock {
    width: 100%;
    height: 280px;
    clear: both;
}
div.blankBlock100 {
    width: 100%;
    height: 100px;
    clear: both;
}
div.clearFloat {
    clear: both;
}

p {
    color: rgb(87, 87, 87);
}

h2 {
    font-size: 21px;
    line-height: 24px;
}

pre.privacy {
  overflow: inherit;
  background-color: #fff;
  border-radius: 0;
  border: 0;
}

.noULstyle {
    list-style-type: none;
}

.verticalCenter {
    display: flex;
    align-items: center;
    width: 100%;
}

.verticalCenter2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.bgColor1 {
    background-color: #f3f3f3;
}

.marginLeft80 {
    margin-left: 80px;
}

.marginCenter {
    margin: 0 auto;
}

.white {
    color: #fff;
}

.noLines {
    border: 0;
}

.padding0 {
  padding: 0;
}

.padding10 {
  padding: 10px;
}

.paddingLeft20 {
    padding-left: 20px;
}

.paddingLeft100 {
    padding-left: 100px;
}

.paddingRight20 {
    padding-right: 20px;
}

.paddingRight100 {
    padding-right: 100px;
}

.paddingWidth5 {
    padding: 0 5px;
}

.paddingWidthLeft20 {
    padding: 0 0 0 20px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}

.colorBlue {
    color: rgb(0, 112, 192);
}

.colorGreen {
    color: rgb(129, 188, 0);
}

.colorWhite {
    color: #fff;
}

.colorBlack {
    color: #000;
}

.colorDefault {
    color: rgb(87, 87, 87);
}

.fontSize10 {
    font-size: 10px;
}

.fontSize13 {
    font-size: 13px;
}

.fontSize15 {
    font-size: 15px;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize20 {
    font-size: 20px;
}

.fontSize23 {
    font-size: 23px;
}

.fontSize25 {
    font-size: 25px;
}

.fontSize30 {
    font-size: 30px;
}

.fontStyleItalic {
    font-style: italic;
}

.fontBod {
    font-weight: bold;
}

.fontWeight200 {
    font-weight: 200;
}

.border0 {
    border: 0;
}

.border1 {
    border: 1px solid rgb(242, 242, 242);
}

.borderBottom1 {
    border-bottom: 1px solid #ccc;
}

.width100 {
    width: 100%;
}

.width80 {
    width: 80%;
}

.width60 {
    width: 60%;
}

.width40 {
    width: 40%;
}

.width9 {
    width: 9%;
}

.marginTop0 {
    margin-top: 0px;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop25 {
    margin-top: 25px;
}

.marginTop50 {
    margin-top: 50px;
}

.margin0 {
    margin: 0;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginBottom25 {
    margin-bottom: 25px;
}

.marginBottom50 {
    margin-bottom: 50px;
}

.marginRight10 {
    margin-right: 10px;
}

.marginLeftRight15 {
    margin-left: 15px;
    margin-right: 15px;
}

.bgPattern {
    background-image: url('../../images/bg/bgPattern.png');
}

.fillHeight100 {
    height: 100%;
    position: relative;
}

.positionR {
    position: relative;
}

.lineHeight17 {
    line-height: 17px;
}

.lineHeight24 {
    line-height: 24px;
}

.lineHeight15 {
    line-height: 15px;
}

.lineHeight30 {
    line-height: 30px;
}

.letterSpacing3 {
      letter-spacing: 3px;
}

.letterSpacing5 {
      letter-spacing: 5px;
}

.letterSpacing9 {
    letter-spacing: 9px;
}

.siteMapTitle {
  background-color: #404040;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.siteMapSubTitle {
  background-color: #d9d9d9;
  padding: 4px 0 4px 4px;
}

.siteMapUl {
  background-color: #f2f2f2;
  padding-left: 23px;
}
