ul.sideBar {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.sideBar li.side1 {
  height: 50%;
}

ul.sideBar li.side2 {
  height: 25%;
}

ul.sideBar li.side3 {
  height: 25%;
}

ul.sideBar li a img {
  height: 100%;
  width: 100%;
}
